## 1.파이썬 함수

In [8]:
def add(a,b):
    return(a+b)
a,b=3,4
c=add(a,b)
print(c)
d=add(111,222)
print(d)

7
333

In [9]:
# 1. 매개변수 O, 리턴값O

def minus(a,b):
    result=a-b
    return result

a=minus(10,4)
print(a)

6

In [11]:
#2 매개변수 X, 리턴값O

def say():
    return 'hi!'
print(say())

hi!

In [18]:
#3. 매개변수 O, 리턴값X

def add(x,y):
    print("%d,%d의합은 %d입니다"%(x,y,x+y))

add(12,24)
a=add(3,4)
print(a)

12,24의합은 36입니다
3,4의합은 7입니다
None

In [19]:
# 4. 매개변수X, 리턴값X

def say():
    print('hi.')

say()

hi.

In [22]:
# 키워드 매개변수

def sub(a,b):
    return a-b

result=sub(7,3)

print(result)

result2=sub(b=3,a=7)
print(result2)

4
4

In [25]:
#가변 매개변수(*매개변수명)

def add_many(*args): 
    result = 0 
    for i in args:
        result+= i
        
    return result 
    
res1 = add_many(1,2,3,4,5)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [29]:
# 덧셈,곱셈 둘다 연산가능한 함수
def add_mul(choice, *args):
    if choice =='add':
        result=0
        for i in args:
            result += i
    elif choice == 'mul':
        result=1
        for i in args:
            result *= i
    return result

res1= add_mul('add',1,2,3)
print(res1)

res2 = add_mul('mul',1,2,3)
print(res2)

6
6

In [31]:
# 딕셔너리형-키워드 가변 매개변수(**매개변수)

def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo',age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [34]:
# 함수의 리턴값은  언제나 하나!

def add_and_mul(a,b):
    return a+b,a*b

res=add_and_mul(3,4)
print(res)

res1,res2=add_and_mul(3,4)
print("a+b=",res1)
print("a*b=",res2)

(7, 12)
a+b= 7
a*b= 12

In [36]:
def add_and_mul(a,b):
    return a+b
    return a*b

res= add_and_mul(2,3)
print(res)

5

In [38]:
#return의 또 다른 쓰임새

def say_nick(nick):
    if nick =='바보':
        return
    print("나의 별명은 %s입니다."%nick)

say_nick('야호')

나의 별명은 야호입니다.

In [39]:
#매개변수에 초기값 설정
def say_myself(name,age,man=True):
    print(f"나의 이름은{name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

#함수 호출
say_myself('mycle',32)

나의 이름은mycle입니다.
나이는 32살 입니다.
남자입니다.

In [46]:
#함수 안에서 선언한 변수의 유효 범위

a=1
def vartest(a):
    a=a+1
    
vartest(a) #아무것도 실행X
print(a) #함수밖에 있는 a 출력

1

In [53]:
a=1
def vartest(x):
    x=x+1
    return x
a=vartest(a) #함수실행 -> a값 반환 & a변수에 덮어씀
print(a)

2

In [55]:
# 함수의 유효범위 -> 2. global 명령어 사용하기

a = 1 
def vartest(): 
    global a  # 함수 안에서 a는 전역 변수로 변경됨
    a +=1

vartest() 
print(a)

2

In [56]:
#lambda 표현식(예약어) 사용 안하고 함수 선언
def add(a,b):
    return a+b

print(add(3,4))

7

In [57]:
#lambda 표현식(예약어) 사용해서 표현

add=lambda a,b:a+b
print(add(3,4))

7

### 2.함수의 활용

#### 1) 재귀함수

내가 만든 함수를 다시 호출하는것

In [59]:
#반복문으로 팩토리얼 구하기

def factorial(n):
    output=1
    for i in range(1,n+1):
        output *=i
    return output

print('5!=',factorial(5))

5!= 120

In [60]:
#재귀 함수로 팩토리얼 구하기

def factorial(n):
    if n==0:
        return 1
    else:
        return n* factorial(n-1)

print('5!=',factorial(5))

5!= 120

#### 2) 리스트 평탄화하는 재귀 함수 만들기

In [67]:
#반복문으로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item)  == list:
            output += item
        else:
            output.append(item)

    return output

example = [[1,2,3],[4,[5,6]],7,[8,9]]
print('원본 : ', example)
print('평탄화 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [68]:
# 재귀 함수로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item)  == list:
            output += flatten(item)
            #print(output)
        else:
            output.append(item)

    return output

example = [[1,2,3],[4,[5,6]],7,[8,9]]
print('원본 : ', example)
print('평탄화 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]